<% include header.ejs %>
  <div class="right_col" role="main">
    <div class="page-title">
    <div class="title_left">
      <h3></h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <span class="section">Saisie d'un nouveau Dépôt</span>

      <form class="form-horizontal form-label-left input_mask" novalidate action="/adddepot" method="post">


        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Nom du Dépôt : <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input class="form-control col-md-7 col-xs-12"   name="depotname" placeholder="Nom du Dépôt" required="required" type="text" >
             </div>
         </div>

        <div class="clearfix"></div>
        <div class="ln_solid"></div>
        <div class="form-group" align="right">
          <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <!--
            <button type="submit" class="btn btn-primary">Cancel</button>
          -->
            <button id="send" type="submit" class="btn btn-success">Enregistrer</button>
            <button id="retour" type="button" class="btn btn-success" onclick="window.location.href='/listdepots'">Liste des dépôts</button>
          </div>
        </div>


      </form>
    </div>

    </div>
  </div>
</div>
</div>

<% include footer.ejs %>
