<% include header.ejs %>

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="row">

        <div class="x_panel">

          <div class="x_content">

            <form class="form-horizontal form-label-left input_mask" novalidate action="/addprov" method="post">
              <div class="col-md-12 col-sm-12 col-xs-12">
              <span class="section">Saisie d'un nouveau Fournisseur</span>

              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Raison sociale : <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" id="raisonsociale" name="raisonsociale" placeholder="Raison sociale" type="text">
                  </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Téléphone : <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" id="telephone" name="telephone" placeholder="Téléphone" type="text">
                  </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">fax : <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" id="fax" name="fax" placeholder="fax" type="text">
                  </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Adresse Email : <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" id="mail" name="mail" placeholder="Adresse email" type="email">
                  </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Adresse : <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" id="adresse" name="adresse" placeholder="Adresse" type="textarea">
                  </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Site Web : <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" id="site" name="site" placeholder="Site Web" type="text">
                  </div>
              </div>

              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Autres informations : <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="1" id="autre" name="autre" placeholder="Autres informations" type="text">
                  </div>
              </div>


              </div>
            </div>


          <div class="form-group" align="right">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <button id="send" type="submit" class="btn btn-success">Enregistrer</button>
              <button id="retour" type="button" class="btn btn-success" onclick="window.location.href='/listproviders'">Liste des fournisseurs</button>
            </div>
        </div>

          </form>
      </div>
    </div>
<!-- this -->

<!-- end this -->


  </div>
</div>
<!-- /page content -->




<!-- /page content -->





<% include footer.ejs %>



<!-- jQuery Tags Input -->
<script>
  function onAddTag(tag) {
    alert("Added a tag: " + tag);
  }

  function onRemoveTag(tag) {
    alert("Removed a tag: " + tag);
  }

  function onChangeTag(input, tag) {
    alert("Changed a tag: " + tag);
  }

  $(document).ready(function() {
    $('#tags_1').tagsInput({
      width: 'auto'
    });
  });
</script>
<!-- /jQuery Tags Input -->
