<% include header.ejs %>

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
          <h2>Update User Account <small>App Administration</small></h2>
          <div class="clearfix"></div>

        </div>
          <div class="x_content">
            <form action="/adduser" method="POST" class="">

              <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
                <label for="">First Name :</label>
              <input type="text" name="firstName" placeholder="First Name" required="required" class="form-control has-feedback-left"/>
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
                <label for="">Last Name :</label>
              <input type="text" name="lastName" placeholder="Last Name" required="required" class="form-control has-feedback-right"/>
              <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
              <label for="">Username :</label>
              <input id="username" type="text" name="username" placeholder="Username" required="required" autofocus="autofocus" class="form-control has-feedback-left"/>
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                <label id="is-user" for="">---</label>
              </div>



              <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
              <label for="">Password :</label>
              <input type="password" name="password" placeholder="Password" required="required" autofocus="autofocus" class="form-control has-feedback-right"/>
              <span class="fa fa-key form-control-feedback right" aria-hidden="true"></span>
              </div>



              <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
                <label for="">Email :</label>
              <input type="email" name="email" placeholder="Email" required="required" class="form-control has-feedback-left"/>
              <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
              </div>



            <!--  <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button><span class="clearfix"></span>

-->
              <div class="clearfix"></div>
              <div class="divider-dashed"></div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <label for="">Roles :</label>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Gestion Stock :
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                       <input type="checkbox" class="" value="true" id="gs" name="gs">
                     </div>
               </div>
               <br>
               <div class="form-group">
                   <label class="control-label col-md-3 col-sm-3 col-xs-12">Gestion patients :
                   </label>
                   <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="checkbox" class="" value="true" id="gp" name="gp">
                    </div>
              </div>
              </div>




              </div>

              <div class="clearfix"></div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="">
                  <!--
                  <button type="submit" class="btn btn-primary">Cancel</button>
                -->
                  <input type="hidden" name="_method" value="post">
                  <button id="send" type="submit" class="btn btn-success">Save</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
<!-- this -->

<!-- end this -->


  </div>
</div>
<!-- /page content -->




<!-- /page content -->







<% include footer.ejs %>


<script>
i = 0;
var result;
var txt = "";
$(document).ready(function(){
    $("#username").keypress(function(e){
      $("#username").keyup(function(e){
        if(e.keyCode == 8){
          txt = $("#username").val();
        }
      });
      txt = txt + String.fromCharCode(e.keyCode);
      console.log(txt);
      var url = "/usercheck/" + txt;

      var check = $.ajax({
                          url:url,
                          type: 'GET'
                        });
      check.done(function(msg){
        console.log(msg.result);
        if(msg.result){
          $("#is-user").css( "color", "red" );
          $("#is-user").text("Username not Available");

        }else {
          $("#is-user").css( "color", "green" );
          $("#is-user").text("Username Available");

        }

      });

    });
    // $("#is-user").text($("#username").keypress().keyCode);

});
</script>
