<% include header.ejs %>
  <div class="right_col" role="main">
    <div class="page-title">
    <div class="title_left">
      <h3></h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Edit programme <small>Gestion des programmes</small></h2>

        <div class="clearfix"></div>

      </div>
      <div class="x_content">

      <form class="form-horizontal form-label-left input_mask" novalidate action="" method="">

        <div class="col-md-6 col-sm-6 col-xs-12 item form-group has-feedback">
            <label for="">Séléctionner un Programme : </label>
              <select  id="progs" type="text" name="prog"  data-validate-length-range="5,20" class="form-control col-md-7 col-xs-12" placeholder="Statu familliale" required="required">
                <option>Choisir un Programme</option>
                <% for(i=0; i < progs.length; i++ ){%>
                   <option><%= progs[i].progname %></option>
                <%}%>
              </select>
        </div>

        <div class="clearfix"></div>
        <div class="divider-dashed"></div>

        <div class="col-md-5 col-sm-5 col-xs-12 item form-group">
          <label>Code produit : </label>
          <div class="">
            <select id="prodinfo" class="select2_single form-control" name="prodinfo" type="text">
              <option></option>
              <% for (var i = 0; i < products.length; i++) {%>
                <option><%= products[i].prodcode + ' | ' + products[i].prodname %> <span style="color:blue"><%= products[i].extra? " | Extra Product" : ""%></span> </option>
              <%}%>
            </select>
          </div>
        </div>

        <div class="col-md-2 col-sm-2 item form-group has-feedback">
            <label for="">Quantité : </label>
            <input id="prodqte"class="form-control" data-validate-length-range="6" data-validate-words="1" name="" placeholder="Nom produit" required="required" type="text" >
            <!-- <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span> -->
        </div>

        <div class="col-md-3 col-sm-3 col-xs-12 item form-group has-feedback">
            <label for="">Date d'expiration : </label>
            <input id="prodexpdate"class="form-control" data-validate-length-range="6" data-validate-words="1" name="" placeholder="Nom produit" required="required" type="text" >
            <!-- <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span> -->
        </div>
        <label for="">Valider la ligne : </label>
        <div class="col-md-2 col-sm-2 col-xs-12 item form-group has-feedback">
          <a onclick="" id="addline" type="" class="btn btn-primary"><i class="fa fa-check"></i></a>
        </div>

        </form>

        <form class="form-horizontal form-label-left input_mask" novalidate action="/updateprogdetail" method="post">

<!--
       <div class="clearfix"></div>
        <div class="divider-dashed"></div> -->
        <textarea id="message" type="hidden" name="obj" required="required" class="form-control hidden" name="message" placeholder="Obj" required="required">
        </textarea>

        <div id="progname" name="">

          <input id="progname-val" type="hidden" class="form-control" name="progname" value="" placeholder="Nom prog" required="required">
        </div>

        <div class="clearfix"></div>
        <div class="divider-dashed"></div>

        <label for="">Detail produits :</label>
<!--
        <div class="table-responsive">
        <table id="detail" class="table">
          <thead>
            <tr class="headings">

              <th class="column-title">Code produit </th>
              <th class="column-title">Nom produit </th>
              <th class="column-title">Qté  </th>
              <th class="column-title">Date d'expiration </th>
              <th class="column-title last"><span >Action</span>
              </th>

            </tr>
          </thead>

          <tbody>

          </tbody>
        </table>
        </div>
-->


       <div id="jsGrid"></div>





        <div class="clearfix"></div>
        <div class="ln_solid"></div>
        <div class="form-group">
          <div class="">
            <!--
            <button type="submit" class="btn btn-primary">Cancel</button>
          -->
            <button id="send" type="submit" class="btn btn-success">Enregistrer</button>
          </div>
        </div>


      </form>
    </div>

    </div>
  </div>
</div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p>Prière de saisir les champs  &hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% include footer.ejs %>


<script type="text/javascript">
var tab = [];
$(document).ready(function() {
  $("#jsGrid").jsGrid({
      width: "100%",
      height: "400px",

      /*filtering: true,
      autoload: true,
      inserting: false,
      editing: true,
      sorting: true,
      paging: true,*/

      filtering: true,
      editing: true,
      sorting: true,
      paging: true,
      autoload: true,

      controller: {
        loadData: function(filter) {
            return $.grep(tab, function(obj) {
                return (!filter.prodcode || obj.prodcode.indexOf(filter.prodcode) > -1)
                && (!filter.prodname || obj.prodname.indexOf(filter.prodname) > -1)
                && (!filter.prodqte || obj.prodqte == filter.prodqte);
            });
        },

        insertItem: function(insertingClient) {

        },

        updateItem: function(updatingClient) { },

        deleteItem: function(deletingClient) {

        }
      },

      data: tab,

      fields: [
          { name: "prodcode", type: "text", title: "Code produit", width: 50, validate: "required", editing: false },
          { name: "prodname", type: "text", title: "Nom produit", width: 50 , editing: false },
          { name: "prodqte", type: "number", title: "Qté", width: 30 },
          //{ name: "prodexpdate", type: "text", items: countries, valueField: "Id", textField: "Name" },

          { name: "prodexpdate", type: "text", title: "Date d'expiration", width: 50, editing: false },
          { type: "control" }
      ]
    });


    $("#addline").click(function() {
      //console.log($("#prodinfo").val().split("|")[0]);
      //console.log(tab);
       if($('#progs').val() !== "Choisir un Programme" && $('#prodinfo').val() !== "" && $('#prodqte').val() !== "" && $('#prodexpdate').val() !== "" ){
         //$('#detail tbody').append('<tr class="odd pointer"><td class=" ">'+$("#prodinfo").val().split("|")[0] +'</td><td class=" ">'+$("#prodinfo").val().split("|")[1] +'</td><td class=" ">'+$('#prodqte').val()+'</td><td class=" ">'+$('#prodexpdate').val()+'</td><td class=" last"> <a onclick="$(this).parent().parent().remove()" class="removelink" ><i class="fa fa-close"></i></a> </td></tr>');

        // $('#progname').text($('#progs').val());
         $('#progname-val').val($('#progs').val());

         tab.push({
           prodcode: $("#prodinfo").val().split("|")[0],
           prodname: $("#prodinfo").val().split("|")[1],
           prodqte: $('#prodqte').val(),
           prodexpdate: $('#prodexpdate').val()
          });

         $('#message').val(JSON.stringify(tab));

         $('#prodinfo').val('');
         $('#prodqte').val('');
         $('#prodexpdate').val('');
         $('#progs').attr('disabled','disabled');
       }else{
         $('#myModal').modal('show');

       }
       $("#jsGrid").jsGrid({

           onItemUpdated: function() {
           //console.log("row updated");
           $('#message').val(JSON.stringify(tab));
           },

           onItemDeleted: function() {
           //console.log("row deleted");
           $('#message').val(JSON.stringify(tab));
           },
           onItemInserted: function() {
           //console.log("row deleted");
           $('#message').val(JSON.stringify(tab));
           }
       });


    });



});
</script>


<script>
    var clients = [
        { "Name": "Otto Clay", "Age": 25, "Country": 1, "Address": "Ap #897-1459 Quam Avenue", "Married": false },
        { "Name": "Connor Johnston", "Age": 45, "Country": 2, "Address": "Ap #370-4647 Dis Av.", "Married": true },
        { "Name": "Lacey Hess", "Age": 29, "Country": 3, "Address": "Ap #365-8835 Integer St.", "Married": false },
        { "Name": "Timothy Henson", "Age": 56, "Country": 1, "Address": "911-5143 Luctus Ave", "Married": true },
        { "Name": "Ramona Benton", "Age": 32, "Country": 3, "Address": "Ap #614-689 Vehicula Street", "Married": false }
    ];

    var countries = [
        { Name: "", Id: 0 },
        { Name: "United States", Id: 1 },
        { Name: "Canada", Id: 2 },
        { Name: "United Kingdom", Id: 3 }
    ];


</script>
