<% include header.ejs %>

	        <!-- page content -->
	        <div class="right_col" role="main" style="min-height: 368px;">

						<% include toptitles.ejs %>

	        </div>
	        <!-- /page content -->


					<% include footer.ejs %>
