<% include header.ejs %>

	        <!-- page content -->
	        <div class="right_col" role="main" style="min-height: 368px;">

						<button type="button" name="button"><a href="/addprod">addprod</a></button>
						<button type="button" name="button"><a href="/editprog">editprog</a></button>


						<% include toptitles.ejs %>

	        </div>
	        <!-- /page content -->


					<% include footer.ejs %>
