<% include header.ejs %>

	        <!-- page content -->
	        <div class="right_col" role="main" style="min-height: 368px;">

						<button type="button" name="button"><a href="/addprod">addprod</a></button>
						<button type="button" name="button"><a href="/editprog">editprog</a></button>
						<button type="button" name="button"><a href="/addprog">addprog</a></button>
						<button type="button" name="button"><a href="/listprod">listprod</a></button>
						<button type="button" name="button"><a href="/stockin">stockin</a></button>
						<button type="button" name="button"><a href="/adddepot">adddepot</a></button>

						<button type="button" name="button"><a href="/listinout">listinout</a></button>
						<button type="button" name="button"><a href="/productstock">gallerie produits</a></button>
						<button type="button" name="button"><a href="/gallery">gallery</a></button>
						<button type="button" name="button"><a href="/stockinbk">Stockin bk</a></button>
						<button type="button" name="button"><a href="/addinventory">add inventory</a></button>



						<% include toptitles.ejs %>

	        </div>
	        <!-- /page content -->


					<% include footer.ejs %>
